.sidebar {
  width: 260px;
  height: 100vh;

  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;

  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

/* HEADER */

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 16px;
  height: 80px;
}

.sidebar:not(.collapsed) .sidebar-footer{
    display:flex;
    justify-content:flex-end;
}

.sidebar.collapsed .sidebar-footer{
    display:flex;
    justify-content:center;
}

.logo {
  width:240px;
  transition: all 0.3s ease;
}

.sidebar.collapsed .logo {
  width: 56px;
}

/* BOTÃO MENU */

.toggle-button {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 12px;

  background: transparent;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .25s;

}

.toggle-btn:hover {
  color: #1f4ea8;
}

.toggle-button:active{
  background: #EEF4FF
}

/* MENU */

.sidebar-menu {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 10px 16px;

  gap: 12px;
}

/* ITEM */

.menu-item {
  display: flex;
  align-items: center;

  gap: 14px;

  text-decoration: none;

  color: #1f4ea8;

  padding: 12px 14px;

  border-radius: 12px;

  transition: all 0.2s ease;
}

.menu-item:hover {
  background: rgba(31, 78, 168, 0.08);
}

/* ITEM ATIVO */

.menu-item.active {
  background: rgba(31, 78, 168, 0.08);

  border-left: 4px solid #1f4ea8;

  font-weight: 600;
}

/* TEXTO */

.menu-item span {
  white-space: nowrap;
  font-size: 15px;
}

/* SIDEBAR RECOLHIDA */

.sidebar.collapsed .menu-item {
  justify-content: center;
  padding: 12px;
}

.sidebar.collapsed .toggle-btn {
  margin: 0 auto;
}